* {
  margin: 0;
  padding: 0;
}

#game div {
  transition: border 1s ease;
  border: solid thin transparent;
}

#game.gridon div {
  border-color: black;
}

#game {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(25, 1fr);
  width: 90vmin;
  height: 90vmin;
  position: absolute;
  top: 5vmin;
  left: 5vmin;
  border: solid thin black;
}

.snake {
  background: green;
}

.gameover .snake {
  background: red;
}

.food {
  background: purple;
}
