* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  place-content: center;
  min-height: 100vh;
}

.game {
  width: 50vmin;
  height: 50vmin;
  border: solid thin black;
}

#game div {
  transition: border 1s ease;
  border: solid thin transparent;
}

#game.gridon div {
  border-color: black;
}

#game {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(25, 1fr);
}

.snake {
  background: green;
}

.gameover .snake {
  background: red;
}

.food {
  background: purple;
}
